// Component Variables

// Color
$color-primary: #f9ed69;
$color-secundary: #f08a5d;
$color-warning: #f08;

// Color-Background:
$color-background-light: #fff;
$color-background-dark: #000;

// Color-Text:
$color-text-light: #685cf5;
$color-text-dark: #fff;

// Size

// Font Size

// Border Radius
$border-radius: 5px;

// Input

// Spacing
